<form action="#" method="GET">
    <input type="search" name="movie_name">
    <button type="submit">Search</button>
</form>

{% for item in movie_objs %}
    {{ item.name }}
    {{ item.rating }}
    <br>
{% endfor %}

{% if movie_objs.has_previous %}
    <a href="?page=1" >First</a>
    <a href="?page={{ movie_objs.previous_page_number }}" >Previous</a>
{% endif %}


page : {{ movie_objs.number }} of {{ movie_objs.paginator.num_pages }}


{% if movie_objs.has_next %}
    <a href="?page={{ movie_objs.next_page_number }}" >Next</a>
    <a href="?page={{ movie_objs.paginator.num_pages }}" >Last</a>
{% endif %}
